{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-3">Login</h2>

        {% if form.errors %}
            <div class="alert alert-danger">Invalid username or password.</div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
            <button class="btn btn-link"><a href="{% url 'register' %}">Create an account instead</a></button>
        </form>
    </div>
{% endblock %}